<template>
<div>
<p> Mongo: {{mongoData}} </p>
<p> Redis: {{redisData}} </p>
<p> Postgres: {{psqlData}} </p>
</div>
</template>

<script>
/* eslint-disable */ 
import Config from './config.json'
import axios from 'axios'


export default {
  name: 'app',
  data() {
    return {
      mongoData: {},
      redisData: {},
      psqlData: {}
    }
  },
  mounted() {
    this.getMongoInfo()
    this.getRedisInfo()
    this.getPsqlInfo()
  },
  methods: {
    getMongoInfo() {
      var dbms_url = 'http://' + Config.dbms.url + ':' + Config.dbms.port + '/mongo'
      axios.get(dbms_url).then((result)=>{
      this.mongoData = result.data.mongo}).catch((err)=>{console.log(err)})
    },
    getRedisInfo() {
      var dbms_url = 'http://' + Config.dbms.url + ':' + Config.dbms.port + '/redis'
      axios.get(dbms_url).then((result)=>{
      this.redisData = result.data.redis}).catch((err)=>{console.log(err)})
    },
    getPsqlInfo() {
      var dbms_url = 'http://' + Config.dbms.url + ':' + Config.dbms.port + '/psql'
      axios.get(dbms_url).then((result)=>{
      this.psqlData = result.data.postgres}).catch((err)=>{console.log(err)})
    }
  }

}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
